@media screen and (max-wicth: 768px)
{
    .container{
        grid-template-columns: 0.8fr 0.8fr;
        grid-template-rows:     0.8fr 8.8fr;
        grid-template-areas: 
                                "h h"
                                "m m"
                                "c1 c2 "
                                "f f";
}
    }
